:root {
  --white: #FFFFFF;
  --light-green: #00FF29;
  --dark-green: #2B7A4B;
  --light-gray: #A6ABA8;
  --gray: #D9D9D9;
  --satureded-green: #A5BBAE;
}

* {
  font-family: 'Karla', Arial, sans-serif;
}

html {
  font-size: 13px;
}

body {
  display: flex;
  flex-direction: column;
}

html, body {
  width: 100%;
  height: 100vh;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
}

#navbar a {
  color: var(--white);
}

#navbar a:hover {
  color: var(--light-green);
}

#navbar a.active {
  color: var(--light-green);
  border-bottom: 1px solid var(--light-green);
}

#navbar-items .navbar-nav {
  margin-left: auto;
}

#navbar-items .navbar-nav .nav-item {
  margin: 0 1rem;
}

#main-content {
  flex: 1;
}

#main-content .title {
  font-size: 3rem;
  font-weight: 700;
}

#main-content .colllaborator-content {
  display: flex;
  align-items: center;

  position: relative;

}

#main-content .circle {
  width: 8rem;
  height: 8rem;
  background-color: var(--gray);

  z-index: 5;
}

#main-content .colllaborator-name-box {
  background-color: var(--satureded-green);
  color: var(--white);

  height: 6rem;
  width: 16rem;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 7rem;

  font-size: 1.1rem;
  font-weight: 700;
}

footer .icon-social-media {
  width: 3rem;
}